body{
	background-color: #EEE9BF;
	height: 100vh;
	width: 100%;
	margin: 0;
}
header{
	background-color: #8B8970;
	width: 100%;
	height: 15%;
}
footer{
	width: 95%;
	bottom: 0;
	position: absolute;
	height: 5%;
	padding-left: 5%;
}
.btn{
	text-align: center;
	padding: 1%;
	width: 20%;
	height: 10vh;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 10%;
	margin-bottom: 10%;
	display: inline-block;
	cursor: pointer;
	background-color: #CDB38B;
	color: #FFF8DC;	
	font-size: 280%;
	font-family: "Verdana";
	border:10px solid #8B795E;
}

.timer{
	text-align: center;
	font-size: 20vh;
	margin: 5%;
}
.hdr{
	text-align: center;
	color:#CDC9A5;
	font-size: 400%;
	font-family: "Verdana";
}
.min,.sec{
	display: inline-block;
	padding: 0;
}
.time{
	display: inline-block;
}
@media (max-width: 480px)
  and (orientation: portrait)
  {
  	header{
  		height: 12%;
  	}
  	footer{
  		height: 4%;
  		font-size: 90%;
  	}
 	.hdr{
 		padding: 5%;
 		text-align: center;
 		height: 100%;
		font-size: 200%;
	}
	.timer{
		font-size: 12vh;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 6%;
		margin-bottom: 8%;
}
	.btn{
		font-size: 220%;
		padding: 3%;
		margin-left:6%;
		margin-right:6%;
		margin-top:6%;
		margin-bottom: 10%;
		height: 6vh;
		width: 75%;
		display: block;
				
 	}
}
@media (max-width: 812px)
  and (orientation: landscape){
  	header{
  		height: 20%;
  	}
  	footer{
  		height: 4%;
  		font-size: 70%;

  	}
  	.timer{
		font-size: 20vh;
		margin:3%;
	}
 	.hdr{
 		padding: 2%;
 		text-align: center;
 		height: 100%;
		font-size: 200%;
	}
	.btn{
		font-size: 250%;
		padding: 2%;
		margin-top:2%;
		margin-bottom:6%;
		margin-left: 10%;
		margin-right: 5%;
		height: 20%;
		width: 25%;
		display: inline-block;		
 	}
}
@media (min-width: 768px)
  	and (max-width: 959px)
  	and (orientation:portrait){
  	.hdr{
 		padding: 2%;
 		text-align: center;
 		height: 100%;
		font-size: 500%;
	}
	.btn{
		font-size: 250%;
		padding: 2%;
		margin-top:5%;
		margin-bottom:6%;
		margin-left: 10%;
		margin-right: 5%;
		height: 20%;
		width: 25%;
		display: inline-block;		
 	}	
 	 
 }
 @media (min-width: 960px)
  	and (max-width: 1024px)
  	and (orientation:landscape){
  	
}
